* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin-left: 16px;
}
.menu li a {
    text-decoration: none;
    color: #333;
}

.flex {
    display:flex;
    gap: 32px;
    flex-direction: column;
}
.item {

    background-color: #ffc100;
}